.user-list-skeleton {
    display: flex;
    flex-direction: column;
  }
  
  .skeleton-item {
    height: 20px;
    width: 80%;
    margin-bottom: 10px;
    background-color: #ddd;
    border-radius: 4px;
    
  }
  